.header {
  display: flex;
  flex-direction: row;
}

.navbar {
  background-color: brown;
  margin-top: 1vh;
}

.menu {
  display: flex;
  list-style-type: none;
  justify-content: center;

}

.menu li {
  color: white;
  margin-right: 5vw;
  font-weight: 200;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu li:hover {
  background-color: white;
  color: brown;
  cursor: pointer;
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu a:hover {
  color: brown;
}

a {
  text-decoration: none;
  color: brown;
}