.header {
  display: flex;
  flex-direction: row;
}

.navbar {
  background-color: brown;
}

.menu {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

.menu li {
  color: white;
  margin-right: 5vw;
  font-weight: 200;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

li:hover {
  background-color: white;
  color: brown;
  display: block;
  cursor: pointer;
}