body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  overflow: scroll;
}

h3,
h4,
h5 {
  text-align: left;
}

p {
  text-align: left;
}

.App {
  text-align: center;
  background-color: white;
  overflow: hidden;
}

main {
  width: 80vw;
  margin-left: 10vw;

}

li {
  text-align: left;
}