body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

.App {
  text-align: center;
  height: 100vh;
  background-color: white;
  background-color: #c7d1d8;
}

.App-header {
  display: flex;
  align-items: center;
  background-color: white;
}

main {
  width: 70vw;
  background-color: white;
  min-height: 90vh;
  margin-left: 15vw;
}